.tailor-tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  display: flex;
  justify-content: center;

  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.tailor-tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tailor-tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.tailor-tab-content {
  background-color: #e7e7e7;
  padding: 20px 0;
}
