@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.tailor__employees {
  padding: 5px;
}
.tailor__employees__title {
  text-align: left;
}
#tailor__employees__table {
  background-color: #fff;
}
.work__assigned {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  table#tailor__employees__table td:nth-child(2),
  table#tailor__employees__table td:nth-child(3),
  table#tailor__employees__table td:nth-child(4) {
    display: none;
  }
  table#tailor__employees__table th:nth-child(2),
  table#tailor__employees__table th:nth-child(3),
  table#tailor__employees__table th:nth-child(4) {
    display: none;
  }
}

/* styling for assign employee👇👇👇 */
.assign__work {
  -webkit-box-shadow: 0 0 2px rgb(21, 20, 20);
  box-shadow: 0 0 2px rgb(21, 20, 20);
  /* position: fixed; Stay in place */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; /* Sit on top */
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
#assign__work__inputs {
  position: absolute;
  right: 0;
  background-color: #fefefe;
  margin: 5% 35%;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  /* padding: 20px 10px; */
}

.assign__work__row > label {
  width: 100%;
}
.assign__work__container {
  padding: 30px 20px;
  text-align: left;
  width: 400px;
  -webkit-box-shadow: 0 0 2px rgb(21, 20, 20);
  box-shadow: 0 0 2px rgb(21, 20, 20);
  border-radius: 5px;
}
.assign__work__title {
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 15px;
}
.assign__work__desc {
  padding-bottom: 10px;
}
.add__employee__label {
  padding: 10px 0;
}
@media screen and (max-width: 567px) {
  .assign__work__container {
    width: 100vw;
  }
  #assign__work__inputs {
    margin: 0;
  }
}
