.view__more__container {
  height: 100px;
  background-color: rgb(231, 231, 231);
  align-items: center;
  justify-content: center;
  display: flex;
  /* margin: 0 auto; */
}
.view__more__button {
  color: black;
  background-color: white;
  height: 42px;
  width: 150px;
  border: none;
}
.product__category__info {
  height: 25vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.customer__service__container {
  display: flex;
  margin: 25px 8px;
  text-align: justify;
}
.customer__service {
  text-align: center;
  align-items: center;
  margin: 25px 0;
}
.filter__bar {
  display: flex;
  margin: 8px 0;
}
.filter__option {
  margin-right: 15px;
}
.expandmore__icon {
  size: 4px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.filter__option__button {
  background-color: #fff;
  color: black;
  border: none;
}
.filter__option__button:hover {
  background-color: white;
  color: black;
  border: none;
}
