.tailor__products {
  padding: 5px;
  position: relative;
}
#tailor__products__table {
  background-color: #fff;
}
.tailor__products__heading {
  text-align: left;
}
.tailor__add__products {
  text-align: right;
}
.tailor__add__products__button {
  background-color: #6a29ff;
  border: none;
  border-radius: 5px;
  color: white;
  height: 42px;
  width: 150px;
  margin-bottom: 5px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  table#tailor__products__table td:nth-child(4),
  table#tailor__products__table td:nth-child(3) {
    display: none;
  }
  table#tailor__products__table th:nth-child(4),
  table#tailor__products__table th:nth-child(3) {
    display: none;
  }
}

/* Style for adding the new products 👇👇👇*/
.add__product {
  -webkit-box-shadow: 0 0 2px rgb(21, 20, 20);
  box-shadow: 0 0 2px rgb(21, 20, 20);
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
#add__product__inputs {
  position: absolute;
  right: 0;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.add__product__container {
  padding: 20px 10px;
  text-align: left;
  width: 400px;
  -webkit-box-shadow: 0 0 2px rgb(21, 20, 20);
  box-shadow: 0 0 2px rgb(21, 20, 20);
  border-radius: 5px;
}
.the__title {
  font-size: 18;
  font-weight: bold;
}
/* .added__to__make__flex {
  display: flex;
} */
.new__product__row {
  display: flex;
}
.new__product__title,
.product__cloth__desc,
.product__image__upload,
.new__product__size {
  padding-left: 10px;
  padding-right: 10px;
}
.newProductSubmitButton {
  margin-left: 10px;
  margin-right: 10px;
}
.new__product__container {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.new__product__container > label {
  width: 100%;
}
.new__product__row > div > label {
  width: 100%;
}
/* .new__product__row */
.new__product__inputBox,
.select__employee__inputBox {
  -webkit-box-shadow: 0 0 2px rgb(187, 183, 183);
  box-shadow: 0 0 2px rgb(187, 183, 183);
  border-radius: 5px;
  height: 42px;
  width: 100%;
}
.new__product__lenth__options,
.new__product__width__options {
  display: flex;
}
.product__cloth__desc,
.product__image__upload {
  width: 100%;
}
.product__cloth__desc .new__product__inputBox {
  height: 200px;
}
.newProductSubmitButton,
.assignWorkSubmitButton {
  height: 42px;
  background-color: #6a29ff;
  border: none;
  border-radius: 5px;
  width: 120px;
  color: white;
  font-weight: 600;
}
@media screen and (max-width: 567px) {
  .new__product__row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .add__product__container {
    width: 100vw;
  }
  .new__product__container {
    width: 100%;
  }
  .newProductSubmitButton,
  .assignWorkSubmitButton {
    width: 120px;
  }
}
