.navbar__brand {
  font-size: 25px !important;
  font-weight: 700 !important;
}
.our__toogler{
  color: white!important;
}
.navbar__component__whenScrolled {
  color: black !important;
  font-weight: 500;
}
.navbar__component__whennotscrolled {
  color: white !important;
  font-weight: 500;
}
.headerWhenScrolled {
  background-color: white;
}
.headerWhenNotScrolled {
  background-color: transparent;
  /* color: white !important; */
}

/* 1) FOR GIVING A SPACE TO THE NAVBAR */
/* .navbar:hover{
  background-color: white;
}
.
.nav-link:hover, .hamburger:hover{
  color: black !important;
} */
/* 
.headerIcon {
  color: white;
}
.nav-link,
.hamburger {
  color: white;
} */

/* .nav-linkWhenScrolledAndHovered {
  color: black !important;
}

/* CHANGING THE BACKGROUND COLOR WHEN SCROLLED  */
/* .navbarColorWhenScrolledAndHovered {
  background-color: white !important;
} */

/* .navbarColorWhenNotScrolled {
  background-color: transparent !important;
} */
/* .
.navbarWithSearchbar {
  position: relative;
} */
