/* 1) FOR GIVING A SPACE TO THE NAVBAR */
/* .navbar:hover{
  background-color: white;
}
.nav-link:hover, .hamburger:hover{
  color: black !important;
} */
.navbar-brand {
  color: white !important;
  font-size: 40px;
  font-weight: bolder;
}
.headerIcon {
  color: white;
}
/* .nav-link,
.hamburger {
  color: white !important;
} */

.nav-linkWhenScrolledAndHovered {
  color: black !important;
}

/* CHANGING THE BACKGROUND COLOR WHEN SCROLLED  */
.navbarColorWhenScrolledAndHovered {
  background-color: white !important;
}

.navbarColorWhenNotScrolled {
  background-color: transparent !important;
}

.menWomenKidsHeading {
  font-weight: 700;
  color: white !important;
}
.navbarWithSearchbar {
  position: relative;
}
