.cartTotal {
  background-color: white;
  flex: 0.3;
  height: 200px;
  padding: 20px;
}

.cartTotal button {
  background-color: black;
  font-size: 16px;
  width: 100%;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
}
.cart-total-price {
  margin-left: 8px;
}
.cartTotal button:focus {
  outline: none;
}
