.NavButton__Button {
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  margin-right: 4px;
  border: 1px solid grey;
  cursor: pointer;
}

.NavButton__Dropdown {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  width: 200px;
  position: absolute;
  /* right: 0;
    left: 0; */
  top: 100%;
}
.NavButton__Container {
  display: flex;
}
/* .NavButton-button{
      padding: 4px;
      background-color: white;
      border-radius: 4px;
      margin-right: 4px;
      cursor: pointer;
  } */

.NavButton {
  position: relative;
  /* display: flex; */
}
.dropDown__container {
  padding-top: 4px;
}
/* .NavButton-dropdown{
      background-color: white;
      border: 1px solid gray;
      border-radius: 3px;
      width: 200px;
      position: absolute;
      right: 0;
      top: 100%;
      
      
  } */
.playgroundFont {
  font-size: 45px;
}


/* styling for assign work 👇👇👇 */
