.login {
  text-align: left;
}
.login__container {
  background-color: rgba(245, 245, 245, 0.81);
  margin: 8px;
  padding: 20px 70px;
}
.signin__inputs {
  display: flex;
  flex-direction: column;
}
.subtitle {
  margin: 25px 0;
}
form,
p {
  font-size: 14px;
}

input {
  border: none;
  width: 100%;
  height: 45px;
  margin: 15px 0 10px 0 !important;
}
.login__form__footer {
  display: flex;
  flex-direction: row;
}
.signIn__button {
  border: none;
  width: 180px;
  height: 45px;
  background-color: #000000;
  color: white;
}
/* .signin__inputs > label {

} */
/* @media screen and (max-width: 1400px) {
  .login {
    width: 100%;
  }
} */
