.checkout-tab-list {
  /* border-bottom: 1px solid #ccc; */
  padding-left: 0;
}

.checkout-tab-list-item {
  display: inline-block;
  list-style: none;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

/* properties of inactive tab */
.checkout-tab-list-item .the__label .the__number__label {
  color: rgb(161, 161, 161, 1);
  background-color: white;
  border: 1px rgb(161, 161, 161, 1) solid;
}
.checkout-tab-list-item .the__label .the__text__label {
  color: rgb(161, 161, 161, 1);
}

/* properties of active tab */
.checkout-tab-list-active .the__label .the__number__label {
  color: white;
  background-color: black;
  border: none;
}
.checkout-tab-list-active .the__label .the__text__label {
  color: black;
}
.checkout-tab-content {
  background-color: #e7e7e7;
  padding: 20px 15px;
}

/* CHECKOUT ACCOUNT INFORMATION tab property 👇1)*/
.cc__account__info,
.cc__delivery__info,
.cc__payment {
  font-size: 13px;
  text-align: left;
  margin-top: 20px auto;
  margin: auto;
  width: 50%;
}
.cc__account__info__inputs,
.cc__delivery__info__shipping__inputs,
.cc__delivery__info__billing__inputs {
  display: flex;
  flex-direction: column;
}

/* Checkout cart property */
.checkout__cart__container {
  background-color: white;
  padding: 20px 15px;
}
.checkout__item {
  display: flex;
  border-bottom: 1px rgb(161, 161, 161, 1) solid;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
.checkout__item__title__desc {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.checkout__item__price {
  width: 20%;
}
.checkout__item__title {
  font-size: 18px;
  font-weight: 400;
}
.checkout__next__button__container {
  text-align: right;
}
.checkout__next__button {
  background-color: black;
  border: none;
  color: white;
  height: 42px;
  width: 190px;
}

.particular__payment__method {
  background-color: #fff;
  border: none;
  margin: 7px 0;
  width: 210px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 667px) {
  .particular__payment__method {
    width: 100%;
  }
  .checkout-tab-list-item {
    margin: 0;
  }
  .cc__account__info,
  .cc__delivery__info,
  .cc__payment {
    width: 100%;
  }
}
.checkOut__heading {
  letter-spacing: 6px;
}
