@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.orders-tab-list {
  padding-left: 15px;
  display: flex;
  justify-content: left;
}

.orders-tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.orders-tab-list-active {
  background-color: #e7e7e7;
}
.orders-tab-content {
  /* background-color: #e7e7e7; */
  padding: 10px;
}
.per__order__container {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
}
.order__number__placed {
  text-align: left;
}
.manage__order__container {
  text-align: right;
}
.order__number__title {
  font-weight: 500;
}
.order__number {
  color: #649cc0;
  cursor: pointer;
}
.order__number:hover {
  text-decoration: underline;
}
.order__placed {
  font-size: small;
  color: #9d9494;
}
.manage__order {
  cursor: pointer;
  color: #649cc0;
}
.manage__order:hover {
  text-decoration: underline;
}
.particular__order_detail {
  background-color: #e7e7e7;
  padding: 10px;
}
.order_product__info__bag {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.particular__order__detail__container {
  margin: 50px 150px;
  border-radius: 8px;
}
.particular__order__detail__part1,
.particular__order__detail__part2 {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;
}
/* for the particular order detail part1👇 */
.total__price {
  text-align: right;
}

/* style for the particular order detail part 2 */
.particular__order__detail__part2 {
  text-align: left;
}
.package__number {
  font-weight: 500;
}
.delivered__date {
  font-size: small;
  color: #9d9494;
}

/* Order summary styles 👇👇 */
.order__summary__part {
  padding-top: 5px;
  background-color: #e7e7e7;
}
.order__summary__part__middle {
  padding-top: 5px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.order__summary__part__container {
  height: 170px;
  background-color: white;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .order__summary__part,
  .order__summary__part__middle {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.sub__total__title,
.shipping__fee__title,
.order__summary__total__title {
  font-weight: 600;
}
.paid__by__means {
  text-align: left;
  font-size: small;
  color: #9d9494;
}

/* Table style */
Table {
  font-family: "DM Sans", sans-serif;
}
