.filter__options {
  display: flex;
}
/* .filter__option{
    position: relative;
} */
.filter__options__button {
  padding: 4px;
  background-color: white;
  margin-right: 4px;
  cursor: pointer;
}

.filter__options__content {
  background-color: white;
  border: none;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 1px 1px 1px 1px hsla(0, 0%, 0%, 0.16);
  width: 40vw;
  position: absolute;
  padding: 20px;
  right: 0;
  left: 0;
  top: 100%;
  z-index: 1;
}
.filter__options__container {
  position: relative;
}
/* the filter options property */
.color__options {
  display: flex;
  align-items: center;
}
.clear__button {
  background-color: white;
  color: #808080;
  border: 1px solid #707070;
  height: 42px;
  width: 150px;
}
.show__results__button {
  background-color: black;
  color: white;
  border: none;
  height: 42px;
  width: 150px;
}
.color__close {
  text-align: right;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 0;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .filter__options__content {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.5); */
    z-index: 4;
    /* left: 100px; */
  }
}
