.NavButton__Button {
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  margin-right: 4px;
  border: 1px solid grey;
  cursor: pointer;
}

.NavButton__Dropdown {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  width: 200px;
  position: absolute;
  /* right: 0;
    left: 0; */
  top: 100%;
}
.NavButton__Container {
  display: flex;
}
/* .NavButton-button{
      padding: 4px;
      background-color: white;
      border-radius: 4px;
      margin-right: 4px;
      cursor: pointer;
  } */

.NavButton {
  position: relative;
  /* display: flex; */
}
.dropDown__container {
  padding-top: 4px;
}
/* .NavButton-dropdown{
      background-color: white;
      border: 1px solid gray;
      border-radius: 3px;
      width: 200px;
      position: absolute;
      right: 0;
      top: 100%;
      
      
  } */
.playgroundFont {
  font-size: 45px;
}
.see__more__individual__container {
  display: flex;
}
.see__more__individual__container:hover {
  background-color: #e5e9f2;
}
.see__more__container {
  padding: 10px 0;
  width: max-content;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgb(187, 183, 183);
  box-shadow: 0 0 10px rgb(187, 183, 183);
}
.see__more__icon {
  padding: 0 20px;
  cursor: pointer;
}
.see__more__text {
  font-size: 14px;

  padding-right: 20px;
}
.see__more__data {
  position: relative;
}
.see__more__container {
  position: absolute;
  /* padding: 20px; */
  right: 20px;
  top: 100%;
}
