.tailor__order {
  padding: 10px;
}
.tailor__heading__part2 {
  display: flex;
  height: 50px;
  margin-left: auto;
  margin-right: 0;
  /* padding: 5px; */
}
.tailor__heading__part1 {
  text-align: left;
}
.tailor__quick__search {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 45px;
  padding: 5px;
}
.quick__search__icon {
  cursor: pointer;
}
.tailor__quick__search__input {
  height: 40px;
}

.tailor__status__options {
  padding: 5px;
  height: 45px;
  background-color: #fff;
  border: none;
}
.order__table {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  table#orders__table td:nth-child(2),
  table#orders__table td:nth-child(4),
  table#orders__table td:nth-child(5),
  table#orders__table td:nth-child(7) {
    display: none;
  }
  table#orders__table th:nth-child(2),
  table#orders__table th:nth-child(4),
  table#orders__table th:nth-child(5),
  table#orders__table th:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 567px) {
  table#orders__table td:nth-child(6) {
    display: none;
  }
  table#orders__table th:nth-child(6) {
    display: none;
  }
}
.thePlay {
  z-index: 1;
}

/* see more 👇 styling */
.see__more__individual__container {
  display: flex;
}
.see__more__individual__container:hover {
  background-color: #e5e9f2;
  cursor: pointer;
}
.see__more__container {
  padding: 10px 0;
  width: max-content;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgb(187, 183, 183);
  box-shadow: 0 0 10px rgb(187, 183, 183);
}
.see__more__icon {
  padding: 0 20px;
}
.see__more__text {
  font-size: 14px;

  padding-right: 20px;
}
.see__more__data {
  position: relative;
}
.see__more__container {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 100%;
}
