@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.customer__orderDetails__screen {
  text-align: left;
  font-family: "DM Sans", sans-serif;
}
.the__order__id {
  font-size: 15px;
  color: blue;
}
h2 {
  letter-spacing: 5px;
}
