.footer {
  background-color: rgba(245, 245, 245, 0.81);
}
.firstSectionFooter {
  padding: 1em 1em !important;
  text-align: left;
  font-size: 14px;
}
.emailSignUpTitle,
.followUsTitle {
  /* font-family: "Noto Sans JP", sans-serif; */
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 0.5em;
}
.socialIcon {
  font-size: larger !important;
  margin-right: 30px !important;
  color: black;
}
.footerPadding {
  padding: 0 0.5em 0 0;
  color: black;
}
.secondSectionFooter {
  padding: 1em 2em 2em 1em !important;
}
.followUsLinks,
.additionalInformationLinks {
  padding-bottom: 2em;
  font-size: 14px;
}
.input-group-prepend {
  height: fit-content;
  margin-top: 15px;
}
.footer__links__container {
  text-align: left;
}
.footer__link {
  color: black;
  font-size: smaller;
  margin-bottom: 8px !important;
}
.footer__link:hover,
.socialIcon:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .secondSectionFooter {
    background-color: #f1f1f1;
  }
  .followUsLinks,
  .additionalInformationLinks {
    text-align: left;
  }
}
@media screen and (max-width: 567px) {
  .middle__links__container {
    padding-bottom: 1em;
  }
}
