.authentication__logo {
  height: 45vh;
  /* width: 100%; */
  /* background-position: center; */

  object-fit: cover;
}
@media screen and (max-width: 500px) {
  .authentication__logo {
    height: 30vh;
  }
}
