.authentication__logo {
  height: 40vh;
  /* width: 100%; */
  /* background-position: center; */

  object-fit: cover;
}
.login__signup {
  display: flex;
}
@media screen and (max-width: 500px) {
  .authentication__logo {
    height: 20vh;
  }
}
