.detail__name {
  color: #625a5a;
  font-weight: 600;
  font-size: small;
}

/* For customer orders 👇👇👇 */
.customer__orders {
  padding: 10px;
}
.customer__info,
.employee__info {
  text-align: center;
  padding: 10px;
}
.see__order__details:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* customer or employee information */
.work__customer__details {
  text-align: center;
}
@media screen and (max-width: 567px) {
  .customer__orders__table td:nth-child(4),
  .customer__orders__table td:nth-child(2),
  .customer__orders__table td:nth-child(3) {
    display: none;
  }
  .customer__orders__table th:nth-child(4),
  .customer__orders__table th:nth-child(2),
  .customer__orders__table th:nth-child(3) {
    display: none;
  }
}
.customer__orders__table {
  background-color: #fff;
  border-radius: 8px !important;
  padding: 20px 10px;
}
