.employee__signIn,
.employee__register {
  text-align: left;
  margin: 50px auto;
}
.employee__signIn__container,
.employee__register__container {
  background-color: #e7e7e7;
  margin: 8px;
  padding: 20px 70px;
}
.employee__signIn__inputs,
.employee__register__inputs {
  display: flex;
  flex-direction: column;
}
.employee__signIn__inputs > input {
  border: none;
  width: 100%;
  height: 45px;
  margin: 15px 0 10px 0 !important;
}
.employee__register__inputs > input {
  border: none;
  width: 100%;
  height: 45px;
  margin: 15px 0 10px 0 !important;
}
.employee__form__footer {
  display: flex;
  flex-direction: row;
}
.employee__signIn__button,
.employee__register__button {
  border: none;
  width: 180px;
  height: 45px;
  background-color: #000000;
  color: white;
}
@media screen and (max-width: 567px) {
  .employee__signIn,
  .employee__register {
    margin: 10px auto;
  }
  .employee__signIn__container,
  .employee__register__container {
    padding: 15px 10px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
