.tailor-tab-list {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
}
::-webkit-scrollbar {
  display: none;
}

.tailor-tab-list-item {
  display: inline-block;
  cursor: pointer;
  width: max-content;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tailor-tab-list-active {
  background-color: white;
  border-bottom: 3px solid black;
  border-width: 3px;
  font-weight: 500;
}
.tailor-tab-content {
  background-color: #e7e7e7;
  padding: 15px 20px;
}
